:root {
    --color-kek:#2E2F42;
    --color-active-kek:#404BBF;
    --color-button:#4D5AE5;
    --color-kekl:#434455;
    --color-main:#FFFFFF;
    --c-bgc-light: #FFF;
    --color-team:#F4F4FD;
    --color-head:#e7e9fc
}
/* ТЕГИ */
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
img {
    display: block;
}
button {
    font-family: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--c-bgc-light);
    color: var(--color-kekl);
}
/* БОШКА */
.header {
    border-bottom: 1px solid var(--color-head);
}
.contain {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav {
    display: flex;
    align-items: center;
}
/* ЛОГОТИП */
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--color-button);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}
.logo-accent {
    color:var(--color-kek);
}
.logo-end {
    color:var(--color-team)
}
/* ССЫЛКИ */
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    color: var(--color-kek);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.nav-link:focus {
    color: var(--color-active-kek);
}
 .nav-link:hover {
    color: var(--color-active-kek);
}
.info {
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}
.inf {
    color: var(--color-kekl);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.inf:focus {
    color: var(--color-active-kek);
}

.inf:hover {
    color: var(--color-active-kek);
}
/* ПЕРВАЯ СЕКЦИЯ */
.sone {
    background-color:var(--color-kek);
    padding: 188px 0;
}
.h-one {
    color:var(--color-main);
    background-color: var(--color-kek);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}
/*КНОПКА*/
.button {
    color:var(--color-main);
    background-color:var(--color-button);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}
.button:focus {
    background-color:var(--color-active-kek);
}
.button:hover {
    background-color:var(--color-active-kek);
}
/* ВТОРАЯ СЕКЦИЯ */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.stwo {
    padding: 120px 0 120px
}
.main-p {
    gap: 24px;
    display: flex;
}
.peli {
    width: calc((100% - 72px) / 4);
}
.kings {
    color:var(--color-kek);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.narratives {
    color:var(--color-kekl);
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em
}
.sthree {
    background-color:var(--color-team);
}
/* КОМАНДА */
.ourteam {
    color:var(--color-kek);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list {
    background-color:var(--color-main);
}
.name {
    color:var(--color-kek);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.prof {
    color:var(--color-kekl);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ПОРТФОЛИО */
.portfol {
    color:var(--color-kek);
}
.app {
    color:var(--color-kek);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mark {
    color: var(--color-kekl);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* КОНЕЦ */
.foot {
    background-color:var(--color-kek);
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--color-team)
}
/* БОКСЁРЫ */